* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Inter","M PLUS 1","CaskaydiaCove Nerd Font", "IBM Plex Sans Thai", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;

}

window#waybar {
    padding: 12px;
    margin: 12px 24px;
    background-color: rgba(36, 37, 44, 0.904);
    
    transition:all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #ffffff;

    border-top: rgba(247, 246, 224, 0.164) 1px solid; 
    border-bottom: rgba(31, 27, 36, 0.616) 2px solid;
    /*border: rgba(255, 255, 234, 0.247) 2px solid;*/
    border-radius: 64px;
}
window#waybar > box {
	padding:0px 4px 0px 2px;
    border-radius: 64px;

}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    transition:all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: rgb(255, 194, 194);
    text-shadow: inherit;
    /*box-shadow: inset 0 -3px #ffffff;*/
}
button + button 
{
    margin-left: 4px;
}
#workspaces button {

    border-top: rgba(247, 246, 224, 0.164) 1px solid; 
    border-bottom: rgba(31, 27, 36, 0.616) 2px solid;
    padding: 0 5px;
    background-color: transparent;
    border-radius: 4px;
    background: rgba(188, 189, 197, 0.2);
    color: #ffffff;
}

#workspaces button:first-child {
    border-radius: 32px 6px 6px 32px;
    padding: 0 5px 0 8px;
}

#workspaces button:last-child {
    border-radius: 6px 32px 32px 6px;
    padding: 0 8px 0 5px;
}

#workspaces button:first-child:only-child {
    border-radius: 16px;
    padding: 0 12px 0 12px;
}

#workspaces button:hover {
    background-color: rgba(193, 193, 211, 0.507);
    border: none;

    border-top: rgba(247, 246, 224, 0.164) 1px solid; 
    border-bottom: rgba(31, 27, 36, 0.616) 2px solid;
}

#workspaces button.focused {
    background-color: #64727D;
    
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.urgent:hover {
    background: rgb(255, 139, 139);
    color: #000000;
}
#workspaces button.visible, #workspaces button.activespecial {
    background-color: #ffffff;
    color:#000000;
}
#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-wl-gammarelay-temperature,
#language,
#tray,
#mode,
#custom-spotify,
#custom-webaudio,
#custom-combined-audio,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 4px 12px;
    color: #fff3f3;
    background-color: rgba(28, 28, 29, 0.904);/**/
    border-top: rgba(247, 246, 224, 0.164) 1px solid; 
    border-bottom: rgba(31, 27, 36, 0.616) 2px solid;
    margin: 5px 1px;
    border-radius: 24px;
}

#window,
#workspaces {
    padding: 4px 4px;
}
#window
{
font-size: 16px;
padding: 4px;
}

tooltip
{
    background-color: #1b1b1d;
    color: #f5ede3;
    border-top: #464445 solid 2px;
    border-bottom: #211c27 solid 2px;
    border-radius: 8px;
    padding: 4px;
    font-size: 24px;
}

#tray {
    border-top: rgba(247, 246, 224, 0.164) 1px solid; /**/
    background-color: rgba(42, 42, 48, 0.788);
    color: #f5ede3;
}
/*
#clock {
    background-color: #ffa33a;
    color: #000000;
}

#battery {
    background-color: #e1ff37;
    color: #000000;
}

#battery.charging, #battery.plugged {
    background-color: #c2ff33;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #5ffce7;
    color: #000000;
}

#network {
    background-color: #51ff94;
    color: #000000;
}

#network.disconnected {
    background-color: #ff5757;
    color: #000000;
}

#pulseaudio {
    background-color: #64adff;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #64adff;
    color: #000000;
}

#wireplumber.muted {
    background-color: #435663;
    color: #FFFFFF;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}
#custom-wl-gammarelay-temperature
{
    background-color: #eb4d4b;
}
#tray {
    background-color: #ffc3e6;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
*/